@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "@smolpack/bootstrap-extensions/scss/functions";

// 2. Include any default variable overrides here
@import "pantone-css/scss/pantone";

$primary: $pantone-p-76-16-c;

$primary-100: tint-color($primary, 80%);
$primary-200: tint-color($primary, 60%);
$primary-300: tint-color($primary, 40%);
$primary-400: tint-color($primary, 20%);
$primary-500: $primary;
$primary-600: shade-color($primary, 20%);
$primary-700: shade-color($primary, 40%);
$primary-800: shade-color($primary, 60%);
$primary-900: shade-color($primary, 80%);

$font-family-sans-serif: "Nunito", sans-serif;

$nav-icon-link-border-width: 0;
$nav-icon-link-active-color: inherit;
$nav-icon-link-active-bg:    inherit;

$offcanvas-vertical-height: auto;

$spinner-border-width: 0;

// 3. Include remainder of required Bootstrap stylesheets
@import "@smolpack/bootstrap-extensions/scss/variables";

// 4. Include any default map overrides here
$primarys: (
  "100": $primary-100,
  "200": $primary-200,
  "300": $primary-300,
  "400": $primary-400,
  "500": $primary-500,
  "600": $primary-600,
  "700": $primary-700,
  "800": $primary-800,
  "900": $primary-900,
);

// 5. Include remainder of required parts
@import "@smolpack/bootstrap-extensions/scss/bootstrap-extensions";

// 6. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";

// 7. Add additional custom code here
html,
body,
#root {
  height: 100%;
}

body > img {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.theme {
  flex: 1 1 auto;
}

:root {
  @each $color, $value in $primarys {
    --#{$prefix}primary-#{$color}: #{$value};
  }
}

h1,
.h1,
.card-title,
.card-subtitle {
  text-align: center;

  > img {
    max-height: map-get($display-font-sizes, 1) * $display-line-height * 3;
    max-width: 100%;
  }
}

.bi,
.icon {
  fill: currentColor;
}

.navbar-nav {
  flex-direction: row;

  .active {
    font-weight: bolder;
  }
}

.page {
  margin-top: $spacer;
  margin-bottom: $spacer;
}

.card-body,
.card-img-overlay {
  backdrop-filter: blur($spacer) brightness(120%);
  display: flex;
  flex-direction: column;
}
